details {
  border: 1px solid var(--text-color);
  white-space: nowrap;
}

details > details:last-child {
  margin-block-end: 0;
}

details.locked summary {
  list-style: none;
  pointer-events: none;
}

summary {
  font-size: larger;
  font-weight: 600;
}

p.documentation {
  margin-block-end: 0;
}

div.attributes {
  margin-block-start: 1rem;
}

div.attributes p {
  margin: 0;
}
