:root {
  --title-height: 48px;
  --chapter-height: 40px;
  --section-height: 28px;
}

p {margin-top: 0}

.container {
  padding: 15px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.tome-tome-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0.6em;
  display: block;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  height: var(--title-height);
  background-color: white;
  z-index: 50;
}

.tome-chapter-title {
  font-weight: bold;
  font-size: 25px;
  margin-top: 0.25em;
  margin-bottom: 0.1em;
  display: block;

  position: -webkit-sticky;
  position: sticky;
  top: var(--title-height);
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  height: var(--chapter-height);
  background-color: white;
  z-index: 49;
}

.marker-goto-link-chapter,
.marker-goto-link{
  position: relative;
}

.marker-goto-link-chapter{
  top: calc(-(var(--title-height)));
}

.marker-goto-link{
  top: calc(-(var(--title-height) + var(--chapter-height)));
}

.chapter-body {
  margin-left: 20px;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.section-with-title>.section-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em;

  position: -webkit-sticky;
  position: sticky;
  top: calc(var(--chapter-height) + var(--title-height));
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  height: var(--section-height);
  background-color: white;
  z-index: 48;
}

.id-without-title>.the-id {
  position: -webkit-sticky;
  position: sticky;
  top: calc(var(--chapter-height) + var(--title-height));
  white-space: nowrap;
  overflow-x: auto;
  height: var(--section-height);
  background-color: white;
  z-index: 48;
}

.section-with-title .section-with-title>.section-title,
.section-with-title .id-without-title>.the-id
{
  top: calc(var(--chapter-height) + var(--title-height) + var(--section-height)*1);
  z-index: 47;
}
.section-with-title .marker-goto-link
{
  top: calc(0px - (var(--chapter-height) + var(--title-height) + var(--section-height)*1));
}

.section-with-title .section-with-title .section-with-title>.section-title,
.section-with-title .section-with-title .id-without-title>.the-id
{
  top: calc(var(--chapter-height) + var(--title-height) + var(--section-height)*2);;
  z-index: 46;
}
.section-with-title .section-with-title .marker-goto-link
{
  top: calc(0px - (var(--chapter-height) + var(--title-height) + var(--section-height)*2));
}

.section-with-title .section-with-title .section-with-title .section-with-title>.section-title,
.section-with-title .section-with-title .section-with-title .id-without-title>.the-id
{
  top: calc(var(--chapter-height) + var(--title-height) + var(--section-height)*3);;
  z-index: 45;
}
.section-with-title .section-with-title .section-with-title .marker-goto-link
{
  top: calc(0px - (var(--chapter-height) + var(--title-height) + var(--section-height)*3));
}


.the-id,
.section-id {
  min-width: 26px;
  text-align: left;
}

.section-with-title {
  display: table;
}

.section-title, .section-content {
  display: table-row;
}

.section-id, .section-title-title, .section-content-spacer, .section-content-content {
  display: table-cell;
}

.id-without-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.id-without-title>.the-id  {
  flex-shrink: 1;
  flex-grow: 0;
  display: block;
}

.id-without-title>.id-content {
  flex-grow: 1;
  display: block;
}

.tome-list-intro {
  margin-bottom: 6px;
}

.tome-list {
  list-style-type: none;
  padding-left: 0;
}

.tome-list-item-wrapper{
  display: flex;
  flex-direction: row;
}

.tome-list-id {
  margin-right: 0.25em;
  flex-shrink: 1;
}

.tome-list-item-content{
}

.tome-inlist {
  text-decoration: dotted underline;
  padding: 5px;
  border-radius: 4px;
  margin-left: -4px;
  margin-right: -4px;
}

.tome-inlist .tome-inlist {
  text-decoration: dotted double underline;
}

.tome-inlist {
  padding: 3px;
  border-radius: 2px;
}

.tome-inlist:hover {
  background-color: #ddd;
}

.tome-inlist:hover>.tome-inlist-item {
  background-color: #aabfff;
}

.id-link {
  display: inline-block;
}

.emoji {
  width: 1.2em;
  height: 1.2em;
  vertical-align: top;
}

.spacer {
  width: 0.3em;
  display: inline-block;
}